.texto-reduzido {
    font-size: .8rem;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #DAFF01;
}

.box_novidades {
    max-width: 60%;
}

@media (min-width: 400px) {

    .box_novidades{
        max-width: 350px;
    }
    
}

@media (min-width: 768px) {

    .box_novidades{
        max-width: 80%;
    }
    
}
